---
layout: default
---

<div class="well article">
{%for post in site.posts %}
    {% unless post.next %}
        <h2>{{ post.date | date: '%Y' }}</h2>
        <ul>
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
            </ul>
            <h1>{{ post.date | date: '%Y' }}</h1>
            <ul>
        {% endif %}
    {% endunless %}
    <li><span class="post-date">
		{% assign m = page.date | date: "%-m" %}
		{% case m %}
		  {% when '1' %}1月
		  {% when '2' %}2月
		  {% when '3' %}3月
		  {% when '4' %}4月
		  {% when '5' %}5月
		  {% when '6' %}6月
		  {% when '7' %}7月
		  {% when '8' %}8月
		  {% when '9' %}9月
		  {% when '10' %}10月
		  {% when '11' %}11月
		  {% when '12' %}12月
		{% endcase %}
         </span><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
