{% if site.comments and site.gitment != '' %}
<div id="giteementDiv"></div>
<!--
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/gitment-default.css">
<script src="{{ site.baseurl }}/assets/js/gitment.browser.js"></script>
-->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/giteement-default">
<script src="{{ site.baseurl }}/assets/js/giteement.browser.js"></script>


<script type="text/javascript">
    var giteement = new Giteement({
      id: '{{ page.issueId }}',,
      owner: '{{site.giteement.giteeID}}',
      repo: '{{site.giteement.repo}}',
      backcall_uri: '{{site.giteement.redirect_uri}}',
      oauth_uri: '{{site.giteement.oauth_uri}}',
      oauth: {
        client_id: '{{site.giteement.gitment_oauth.client_id}}',
        client_secret: '{{site.giteement.gitment_oauth.client_secret}}'
      },
    });
    giteement.render('giteementDiv');
</script>

{% endif %}
